<!-- snippet/product-unit-price.liquid -->
{% if product.title %}
    {%- assign available = product.available -%}
{% else %}
    {%- assign available = false -%}
{% endif %}

<span class="u-hidden-visually">{{ 'products.general.unit_price_label' | t }}</span>
{%- capture unit_price_separator -%}
    <span aria-hidden="true">/</span>
    <span class="u-hidden-visually">{{ 'products.general.unit_price_separator' | t }}&nbsp;</span>
{%- endcapture -%}
{%- capture unit_price_base_unit -%}
    {%- if available and variant.unit_price_measurement -%} 
        {%- if variant.unit_price_measurement.reference_value != 1 -%}
            {{- variant.unit_price_measurement.reference_value -}}
        {%- endif -%}
        {{ variant.unit_price_measurement.reference_unit }}
    {%- endif -%}
{%- endcapture -%}
<span class="js-price-unit-price"><span class="money">{{ variant.unit_price | money }}</span></span>
<span class="js-price-unit-separator">{{- unit_price_separator -}}</span>
<span class="js-price-unit-measure">{{- unit_price_base_unit -}}</span>