<section class="section section--account account account--main">
    <div class="container container--tiny">
        <div class="section__title section__title--center section__title--desc">
            <h1 class="section__title-text h2">{{ 'customer.account.title' | t }}</h1>
            <p class="section__title-desc"><a href="{{ routes.account_logout_url }}" class="link">{{ 'layout.customer.log_out' | t }}</a></p>
        </div>
    </div>

    <div class="container">
        <div class="o-layout">
            <div class="o-layout__item u-1/1 u-2/3@tab">

                <h2 class="h3">{{ 'customer.orders.title' | t }}</h2>

                {% paginate customer.orders by 20 %}
                    {% if customer.orders.size != 0 %}
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>{{ 'customer.orders.order_number' | t }}</th>
                                    <th>{{ 'customer.orders.date' | t }}</th>
                                    <th>{{ 'customer.orders.payment_status' | t }}</th>
                                    <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                                    <th>{{ 'customer.orders.total' | t }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in customer.orders %}
                                    <tr class="responsive-table__row">
                                        <td data-label="{{ 'customer.orders.order_number' | t }}">
                                            <a href="{{ order.customer_url }}" class="link link--arrow">{{ order.name }}</a>
                                        </td>
                                        <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'abbreviated_date' }}</td>
                                        <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                                        <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                                        <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{{ 'customer.orders.none' | t }}</p>
                    {% endif %}
                    {% if paginate.pages > 1 %}
                        <div class="account__pagination">
                            <div class="container">
                                <div class="pagination">
                                    <div class="pagination__items">
                                        {{ paginate | default_pagination:
                                            next: '<i class="icon icon--right-t"></i><span class="icon-fallback__text">Next Page</span>',
                                            previous: '<i class="icon icon--left-t"></i><span class="icon-fallback__text">Previous Page</span>'
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endpaginate %}
            </div>
            <div class="o-layout__item u-1/1 u-1/3@tab">

                <h2 class="h3">{{ 'customer.account.details' | t }}</h2>

                {{ customer.default_address | format_address }}

                <p>
                    <a href="{{ routes.account_addresses_url }}" class="c-btn c-btn--light">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
                </p>

            </div>
        </div>
    </div>
</section>