<!doctype html>
<html class="no-js">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  	<meta name="theme-color" content="{{ settings.color_brand }}">
  	<link rel="canonical" href="{{ canonical_url }}">

	{% render 'network' %}

  	{% if settings.favicon != blank %}
	    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

  	<!-- Title and description ================================================== -->
  	{%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  	{%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  	<title>{{ 'gift_cards.issued.title_html' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  	<meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

  	<!-- JS before CSSOM =================================================== -->
  	<script type="text/javascript">
		theme = {};
		theme.t = {};
		theme.map = {};
		theme.map_settings_url="{{ 'map_settings.min.js' | asset_url }}";
		theme.cart_type = '{{ settings.cart_type }}';
		theme.cart_ajax = {% if settings.cart_type == 'modal' or settings.cart_type == 'notification' %}true{% else %}false{% endif %};
	</script>
  	<script type="text/javascript">
		function supportsFontFace() {
			function blacklist() {
				var match = /(WebKit|windows phone.+trident)\/(\d+)/i.exec(navigator.userAgent);
				return match && parseInt(match[2], 10) < (match[1] == 'WebKit' ? 533 : 6);
			}
			function hasFontFaceSrc() {
				var style = document.getElementById('fontsupporttest');
				var sheet = style.sheet || style.styleSheet;
				var cssText = sheet ? (sheet.cssRules && sheet.cssRules[0] ? sheet.cssRules[0].cssText : sheet.cssText || '') : '';
				return /src/i.test(cssText);
			}
			return !blacklist() && hasFontFaceSrc();
		}
		document.documentElement.classList.replace('no-js', 'js');
		if (window.matchMedia("(pointer: coarse)").matches) {document.documentElement.classList.add('touchevents')} else {document.documentElement.classList.add('no-touchevents')}
		if (supportsFontFace()) {document.documentElement.classList.add('fontface')}
	</script>
  	<script src="{{ 'jquery.min.js' | asset_url }}" defer="defer"></script>
  	<script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
  	<script src="{{ 'ajax-cart.min.js' | asset_url }}" defer="defer"></script>

  	<!-- CSS ================================================== -->
	{% render 'css-variables' %}
	{% render 'css-include' %}
	{{ 'gift-card.css' | asset_url | stylesheet_tag }}

	<!-- JS after CSSOM=================================================== -->
  	<script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
  	<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  	<script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer="defer"></script>

	<!-- Header hook for plugins ================================================== -->
  	{{ content_for_header }}
</head>
<body class="template-giftcard">
	{{ content_for_layout }}

	<script>
		//cart functions
		theme.ajaxCartInit = function() {
			ajaxCart.init({
				cartContainer: '#CartContainer',
				cartCountSelector: '#CartCount',
				cartCostSelector: '#CartCost',
				emptySelector: '#EmptyCart',
				{% if settings.cart_ajax %}
				triggerSelector: '.js-cart-trigger',
				formSelector: '.js-product-form',
				addToCartSelector: '.js-product-add',
				{% endif %}
				moneyFormat: {{ shop.money_format | json }}
			});
		};
	</script>

	<script type="text/javascript">
		window.addEventListener('DOMContentLoaded', function() {
		$(function() {
			var config = {
					qrCode: '#QrCode',
					giftCardCode: '#GiftCardDigits'
			};

			var $qrCode = $(config.qrCode);
			// eslint-disable-next-line no-new
			new QRCode($qrCode[0], {
					text: $qrCode.attr('data-identifier'),
					width: 120,
					height: 120
			});

			$(config.printButton).on('click', function() {
					window.print();
			});

			// Auto-select gift card code on click, based on ID passed to the function
			$(config.giftCardCode).on('click', {element: 'GiftCardDigits'}, selectText);
					function selectText(evt) {
						var text = document.getElementById(evt.data.element);
						var range = '';

						if (document.body.createTextRange) { // ms method
						range = document.body.createTextRange();
						range.moveToElementText(text);
						range.select();
						} else if (window.getSelection) { // moz, opera, webkit method
						var selection = window.getSelection();
						range = document.createRange();
						range.selectNodeContents(text);
						selection.removeAllRanges();
						selection.addRange(range);
						}
					}
			});
		});
	</script>
</body>
</html>