{% assign show_blog_tags = section.settings.show_tags %}
{% assign show_blog_rss = section.settings.show_rss %}
{% assign show_comments = section.settings.show_blog_comments %}
{% assign show_author = section.settings.show_blog_author %}
{% assign show_tags = section.settings.show_blog_tags %}
{% assign show_date = section.settings.show_blog_date %}
{% assign crop = section.settings.crop %}

{% assign paginate_number = 12 %}

{% paginate blog.articles by paginate_number %}
<section class="section section--blog blog-page section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="blog">
    <div class="container">
        <div class="section__title section__title--center">
            <h1 class="section__title-text h2">
                {% if current_tags %}{{ current_tags.first }}{% else %}{{ blog.title }}{% endif %}
                {% if show_blog_rss %}
                    <span class="blog-page__title-rss">
                        <a class="blog-page__title-rss__link icon-fallback js-no-transition" href="{{ shop.url }}{{ blog.url }}.atom">
                            <i class="icon icon--rss" aria-hidden="true"></i>
                            <span class="icon-fallback__text">RSS</span>
                        </a>
                    </span>
                {% endif %}
            </h1>
        </div>

        {% if blog.all_tags.size > 0 and show_blog_tags %}
            <div class="blog-page__tags">
                {% if blog.all_tags.size > 8 %}
                    <div class="blog-page__tags-btn">
                        <a href="#blog-tags" class="link link--arrow-down blog-page__tags-btn-link u-large js-toggle-trigger">{{ 'blogs.blog.tags' | t }}</a>
                    </div>
                {% endif %}
                <ul class="blog-page__tags-items o-list-bare{% if blog.all_tags.size > 8 %} blog-page__tags-items--box js-toggle-target{% endif %}" id="blog-tags">
                    <li class="blog-page__tags-item"><a href="{{ blog.url }}">{{ 'blogs.blog.all' | t }}</a></li>
                    {% for tag in blog.all_tags %}
                        {% if current_tags contains tag %}
                            <li class="blog-page__tags-item blog-page__tags-item--active">{{ tag }}</li>
                        {% else %}
                            <li class="blog-page__tags-item">{{ tag | link_to_tag: tag }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="container{% if section.settings.grid == 1 %} container--tiny{% endif %}">
        <div class="blog-page__list blog-page__list--no-bg">

            {% case section.settings.grid %}
            {% when 1 %}
                {%- assign grid_item_width = 'u-1/1@tab' -%}
            {% when 2 %}
                {%- assign grid_item_width = 'u-1/2@tab' -%}
            {% when 3 %}
                {%- assign grid_item_width = 'u-1/2@tab u-1/3@desk' -%}
            {% endcase %}

            <div class="blog__items">
                <div class="o-layout o-layout--masonry">
                    {% for article in blog.articles %}
                        <div class="o-layout__item u-1/1 {{ grid_item_width }}">
                            {% render 'blog-grid-item', article: article, show_comments: show_comments, show_author: show_author, show_tags: show_tags, show_date: show_date, crop: crop, grid: section.settings.grid %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if paginate.pages > 1 %}
                <div class="blog-pagination">
                    <div class="container">
                        <div class="pagination">
                            <div class="pagination__items">
                                {{ paginate | default_pagination:
                                    next: '<i class="icon icon--right-t"></i><span class="icon-fallback__text">Next Page</span>',
                                    previous: '<i class="icon icon--left-t"></i><span class="icon-fallback__text">Previous Page</span>'
                                }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</section>
{% endpaginate %}

{%- assign collection = collections[section.settings.coll] -%}
{% unless collection.empty? %}
    <section class="section section--page-products section--{{ section.id }}">
        <div class="container container--medium">
            {% unless section.settings.coll_title == blank %}
                <div class="section__title section__title--center">
                    <h2 class="section__title-text">{{ section.settings.coll_title | escape }}</h2>
                </div>
            {% endunless %}
        </div>

        {% case section.settings.coll_grid %}
            {% when 2 %}
                {% if section.settings.coll_mobile_layout == 'carousel' %}
                    {%- assign grid_item_width = 'u-1/2@tab' -%}
                    {%- assign sizes = '(min-width: 768px) 50vw, 80vw' -%}
                {% elsif section.settings.coll_grid_mobile == '2' %}
                    {%- assign grid_item_width = 'u-1/2' -%}
                    {%- assign sizes = '50vw' -%}
                {% else %}
                    {%- assign grid_item_width = 'u-1/1 u-1/2@phab' -%}
                    {%- assign sizes = '(min-width: 561px) 50vw, 80vw' -%}
                {% endif %}
                {%- assign container_size = 'large' -%}
            {% when 3 %}
                {% if section.settings.coll_mobile_layout == 'carousel' %}
                    {%- assign grid_item_width = 'u-1/3@tab' -%}
                    {%- assign sizes = '(min-width: 768px) 33vw, 80vw' -%}
                {% elsif section.settings.coll_grid_mobile == '2' %}
                    {%- assign grid_item_width = 'u-1/2 u-1/3@tab' -%}
                    {%- assign sizes = '(min-width: 768px) 33vw, 50vw' -%}
                {% else %}
                    {%- assign grid_item_width = 'u-1/1 u-1/2@phab u-1/3@tab' -%}
                    {%- assign sizes = '(min-width: 561px) 50vw, (min-width: 768px) 33vw, 80vw' -%}
                {% endif %}
                {%- assign container_size = 'large' -%}
            {% when 4 %}
                {% if section.settings.coll_mobile_layout == 'carousel' %}
                    {%- assign grid_item_width = 'u-1/3@tab u-1/4@desk' -%}
                    {%- assign sizes = '(min-width: 768px) 33vw, (min-width: 981px) 25vw, 100vw' -%}
                {% elsif section.settings.coll_grid_mobile == '2' %}
                    {%- assign grid_item_width = 'u-1/2 u-1/3@tab u-1/4@desk' -%}
                    {%- assign sizes = '(min-width: 768px) 33vw, (min-width: 981px) 25vw, 50vw' -%}
                {% else %}
                    {%- assign grid_item_width = 'u-1/1 u-1/3@tab u-1/4@desk' -%}
                    {%- assign sizes = '(min-width: 768px) 33vw, (min-width: 981px) 25vw, 100vw' -%}
                {% endif %}
                {%- assign container_size = 'full' -%}
        {% endcase %}

        <div class="container container--{{ container_size }}{% if section.settings.coll_mobile_layout == 'carousel' %} container--mob-0{% endif %}">
            <div class="page-products js-page-products" data-section-id="{{ section.id }}">

                {%- assign product_limit = section.settings.coll_grid | times: section.settings.coll_rows -%}

                <div class="page-products__grid">
                    <div class="o-layout o-layout--center{% if settings.product_grid_masonry %} o-layout--masonry{% endif %}{% if section.settings.coll_grid == 4 %} o-layout--small{% endif %}{% if section.settings.coll_mobile_layout == 'grid' and section.settings.coll_grid_mobile == '2' %} o-layout--small@tab-down{% endif %}{% if section.settings.coll_mobile_layout == 'carousel' %} layout-slider js-layout-slider js-layout-slider-{{ section.id }}{% endif %}">
                        {% for product in collection.products limit: product_limit %}
                            <div class="o-layout__item {{ grid_item_width }}">
                                {% render 'product-grid-item', product: product, page: 'page', image_sizes: sizes %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

        {% unless section.settings.coll_link == blank %}
            <div class="section__link section__link--center">
                <a href="{{ section.settings.coll_link }}" class="link link--arrow section__link-link">{{ section.settings.coll_link_title | escape }}</a>
            </div>
        {% endunless %}
    </section>
{% endunless %}

{% schema %}
{
    "name": "Blog",
    "class": "js-section__blog",
    "settings": [
        {
            "type": "header",
            "content": "Page settings"
        },
        {
            "type": "checkbox",
            "id": "show_tags",
            "label": "Show tags",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_rss",
            "label": "Show RSS feed link",
            "default": false
        },
        {
            "type": "range",
            "id": "grid",
            "label": "Posts per row",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "header",
            "content": "Blog item settings"
        },
        {
            "type": "checkbox",
            "id": "crop",
            "label": "Crop images",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_blog_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_blog_author",
            "label": "Show author",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_blog_comments",
            "label": "Show comment count",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_blog_tags",
            "label": "Show tags",
            "default": false
        },
        {
            "type": "header",
            "content": "Featured collection"
        },
        {
            "id": "coll",
            "type": "collection",
            "label": "Collection"
        },
        {
            "id": "coll_title",
            "type": "text",
            "label": "Heading",
            "default": "Featured collection"
        },
        {
            "type": "select",
            "id": "coll_mobile_layout",
            "label": "Mobile layout",
            "default": "carousel",
            "options": [
                {
                    "value": "carousel",
                    "label": "Carousel"
                },
                {
                    "value": "grid",
                    "label": "Grid"
                }
            ]
        },
        {
            "type": "range",
            "id": "coll_grid",
            "label": "Products per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "select",
            "id": "coll_grid_mobile",
            "label": "Products per row (mobile)",
            "default": "1",
            "options": [
                {
                    "label": "1",
                    "value": "1"
                },
                {
                    "label": "2",
                    "value": "2"
                }
            ]
        },
        {
            "type": "range",
            "id": "coll_rows",
            "label": "Rows",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 1
        },
        {
            "type": "text",
            "id": "coll_link_title",
            "label": "Link label",
            "default": "View all"
        },
        {
            "type": "url",
            "id": "coll_link",
            "label": "Link"
        }
    ]
}
{% endschema %}
