{% if section.blocks.size > 0 %}
<section class="section section--{{ section.id }} section--full-bg{% if section.settings.bg_color == "rgba(0,0,0,0)" or section.settings.bg_color == settings.color_bg %} section--no-bg{% else %} section--has-bg{% endif %}" data-section-id="{{ section.id }}" data-section-type="home-map">
    <div class="home-map js-map js-map--{{ section.id }}">

        <div class="home-map__bg" style="background-color: {{ section.settings.bg_color }}"></div>

        <div class="container">

            <div class="home-map__content">
                <div class="o-layout u-flex u-flex--middle">

                    <div class="o-layout__item u-1/1 u-1/2@tab">
                        <div class="home-map__items">
                            {% for block in section.blocks %}
                            <a href="#map-info-{{ section.id }}-{{ forloop.index }}" class="home-map__title js-map-trigger">
                                <h3 class="home-map__title-text">{{ block.settings.title | escape }}</h3>
                                {% if section.blocks.size > 1 %}
                                    <span class="home-map__title-icon icon-fallback">
                                        <i class="icon icon--plus" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">{{ 'sections.map.open' | t }}</span>
                                    </span>
                                {% endif %}
                            </a>
                            <div id="map-info-{{ section.id }}-{{ forloop.index }}" class="home-map__item js-map-info" {{ block.shopify_attributes }}>
                                <div class="home-map__item-wrap">
                                    <div class="o-layout">
                                        <div class="o-layout__item u-1/1 u-1/2@desk">
                                            <div class="home-map__text rte">
                                                {{ block.settings.desc }}
                                            </div>
                                        </div>
                                        <div class="o-layout__item u-1/1 u-1/2@desk">
                                            <div class="home-map__sub-text u-small rte">
                                                {{ block.settings.sub_desc }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-hidden@tab-up" data-set="map-replace-{{ section.id }}-{{ forloop.index }}"></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="o-layout__item u-1/1 u-1/2@tab">
                        <div class="home-map__media js-lazy-map">
                            {% for block in section.blocks %}
                            <div class="home-map__media-map js-map-media{% if forloop.index == 1 %} home-map__media-map--first js-active{% endif %}" data-map-id="#map-info-{{ section.id }}-{{ forloop.index }}">
                                <div class="u-hidden@tab-down" data-set="map-replace-{{ section.id }}-{{ forloop.index }}">
                                    <div class="home-map__media-replace js-map-replace">
                                        {% if section.settings.google_api_key == blank %}
                                            {% if block.settings.map_image %}
                                                <div class="home-map__media-canvas home-map__media-canvas--img">
                                                    <div class="home-map__media--cover u-bg-contain" style="background-image: url('{{ block.settings.map_image | img_url: '1x1' }}')"></div>
                                                    <img
                                                        class="home-map__media__bg"
                                                        src="{{ block.settings.map_image | img_url: '600x' }}"
                                                        srcset="{% render 'bgset', image: block.settings.map_image %}"
                                                        sizes="(min-width: 768px) 50vw, 100vw"
                                                        width="600"
                                                        height="{{ 600 | divided_by: block.settings.map_image.aspect_ratio | round }}"
                                                        alt="{{ block.settings.map_image.alt }}"
                                                        loading="lazy"
                                                    />
                                                </div>
                                            {% else %}
                                                <div class="home-map__media-canvas home-map__media-canvas--placeholder">
                                                    <div class="home-map__media__bg">
                                                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--light' }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div id="map-{{ section.id }}-{{ forloop.index }}"
                                            class="js-map-ids home-map__media-canvas"
                                            data-map-id="map-{{ section.id }}-{{ forloop.index }}"
                                            data-map-section="{{ section.id }}"
                                            data-map-address="{{ block.settings.address | escape }}"
                                            data-map-style="{{ section.settings.map_style }}"
                                            data-map-pin="{% if section.settings.map_style == 'dark' or section.settings.map_style == 'minimal_dark' %}mapPinLight{% else %}mapPinDark{% endif %}"></div>
                                        {% endif %}
                                        {% if section.settings.show_directions_btn %}
                                            <a href="https://maps.google.com?daddr={{ block.settings.address | escape }}" class="c-btn c-btn--primary c-btn--arrow home-map__media-btn" target="_blank">{{ 'sections.map.directions' | t }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
    </div>
{% endif %}

{% unless section.settings.google_api_key == blank %}
<script type="text/javascript">
theme.map = {
    key: {{ section.settings.google_api_key | json }}
};
</script>
{% endunless %}

{% schema %}
{
    "name": "Map",
    "class": "js-section__home-map",
    "max_blocks": 3,
    "settings": [
        {
            "type": "checkbox",
            "id": "show_directions_btn",
            "label": "Show directions button",
            "default": false
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "header",
            "content": "Google maps"
        },
        {
            "type": "text",
            "id": "google_api_key",
            "label": "API key",
            "info": "You’ll need to register a [Google Maps API Key](https://help.shopify.com/en/manual/using-themes/change-the-layout/theme-settings/map-section-api-key) to display Google map."
        },
        {
            "type": "select",
            "id": "map_style",
            "label": "Map style",
            "default": "light",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Blue water",
                    "value": "blue_water"
                },
                {
                    "label": "Clean cut",
                    "value": "clean_cut"
                },
                {
                    "label": "Dark",
                    "value": "dark"
                },
                {
                    "label": "Flat",
                    "value": "flat"
                },
                {
                    "label": "Light",
                    "value": "light"
                },
                {
                    "label": "Minimal dark",
                    "value": "minimal_dark"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "map",
            "name": "Map",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Map"
                },
                {
                    "type": "richtext",
                    "id": "desc",
                    "label": "Address",
                    "default": "<p>273 Street Lane<br/>San Francisco, CA 94102<br/>(415) 557-4400<br/>store@email.com</p>"
                },
                {
                    "type": "richtext",
                    "id": "sub_desc",
                    "label": "Hours",
                    "default": "<p>Monday - Thursday, 12:00 to 23:00<br/>Friday &amp; Saturday, 12:00 to 00:00<br/>Sunday, Closed</p>"
                },
                {
                    "type": "text",
                    "id": "address",
                    "label": "Map address",
                    "info": "Used for Google map and directions button",
                    "default": "100 Larkin St, San Francisco, CA 94102, USA"
                },
                {
                    "type": "image_picker",
                    "id": "map_image",
                    "label": "Image",
                    "info": "Displayed if Google map is not in use"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Map",
            "category": "Store information",
            "blocks": [
                {
                    "type": "map",
                    "settings": {
                        "title": "Map 1",
                        "address": "100 Larkin St, San Francisco, CA 94102, USA",
                        "desc": "<p>273 Street Lane<br/>San Francisco, CA 94102<br/>(415) 557-4400<br/>store@email.com</p>",
                        "sub_desc": "<p>Monday - Thursday, 12:00 to 23:00<br/>Friday &amp; Saturday, 12:00 to 00:00<br/>Sunday, Closed</p>"
                    }
                }
            ]
        }
    ]
}
{% endschema %}
